
/*
MILEY.CSS
Autor: Victor "JV" Ribeiro
Esse arquivo faz parte do projeto Miley.
*/

input[type=text] {
outline: none
}

input:focus {
outline: none
}

button:focus {
outline-color: #fff;
}

textarea:focus {
outline: none;
}

select:focus {
outline: none;
}

/* /////////////////////////////////////////////////////////// */
@media screen and (min-width: 951px) {
/* ********* Avatar *************** */

#miley-avatar {
  background: transparent;
    border-left: 2px solid #FBCEFF;
    border-right: 2px solid #FBCEFF;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    opacity: .9;
  border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 70px;
    height: 70px;
    float: center;
    -webkit-animation: spinoffShine 4s infinite linear;
    -ms-animation: spinoffShine 4s infinite linear;
    -o-animation: spinoffShine 4s infinite linear;
    animation: spinoffShine 4s infinite linear;
}

#miley-avatar:active {
    width: 80px;
    height: 80px;
}

#miley-avatar:before {
  content: "";
  position: absolute;
    top: -25px;
    left: -25px;
    right: -25px;
    bottom: -25px;
    background: transparent;
    opacity: .9;
  border-top: 5px solid #E351FF;
    border-bottom: 5px solid #E351FF;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  -moz-animation: spinPulse 6s infinite ease-in-out;
    -webkit-animation: spinPulse 6s infinite linear;
    -ms-animation: spinPulse 6s infinite linear;
    -o-animation: spinPulse 6s infinite linear;
    animation: spinPulse 6s infinite linear;
}

@keyframes spinPulse {
0% {transform: rotate(90deg); opacity: 0;}
50% {transform: rotate(-180deg); opacity: 1;}
100% {transform: rotate(-90deg); opacity: 0;};
}

@-moz-keyframes spinPulse {
0% {-moz-transform: rotate(90deg); opacity: 0;}
50% {-moz-transform: rotate(-180deg); opacity: 1;}
100% {-moz-transform: rotate(-90deg); opacity: 0;};
}

@-webkit-keyframes spinPulse {
0% {-webkit-transform: rotate(90deg); opacity: 0;}
50% {-webkit-transform: rotate(-180deg); opacity: 1;}
100% {-webkit-transform: rotate(-90deg); opacity: 0;};
}

@-ms-keyframes spinPulse {
0% {-ms-transform: rotate(90deg); opacity: 0;}
50% {-ms-transform: rotate(-180deg); opacity: 1;}
100% {-ms-transform: rotate(-90deg); opacity: 0;};
}

@keyframes spinoffShine {
0% {box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF; transform: rotate(0deg);}
20% {box-shadow: 0 0 20px #E351FF, inset 0 0 40px #E351FF; transform: rotate(45deg);}
80% {box-shadow: 0 0 50px #E351FF, inset 0 0 20px #E351FF; transform: rotate(90deg);}
100% {box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF; transform: rotate(180deg);};
}

@-moz-keyframes spinoffShine {
0% {-moz-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF; -moz-transform: rotate(0deg);}
20% {-moz-box-shadow: 0 0 20px #E351FF, inset 0 0 40px #E351FF; -moz-transform: rotate(45deg);}
80% {-moz-box-shadow: 0 0 20px #E351FF, inset 0 0 20px #E351FF; -moz-transform: rotate(90deg);}
100% {-moz-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF; -moz-transform: rotate(180deg);};
}

@-webkit-keyframes spinoffShine {
0% {-webkit-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF; -webkit-transform: rotate(0deg);}
20% {-webkit-box-shadow: 0 0 20px #E351FF, inset 0 0 40px #E351FF; -webkit-transform: rotate(45deg);}
80% {-webkit-box-shadow: 0 0 20px #E351FF, inset 0 0 20px #E351FF; -webkit-transform: rotate(90deg);}
100% {-webkit-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF; -webkit-transform: rotate(180deg);};
}

@-ms-keyframes spinoffShine {
0% {-ms-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF; -ms-transform: rotate(0deg);}
20% {-ms-box-shadow: 0 0 20px #E351FF, inset 0 0 40px #E351FF; -ms-transform: rotate(45deg);}
80% {-ms-box-shadow: 0 0 20px #E351FF, inset 0 0 20px #E351FF; -ms-transform: rotate(90deg);}
100% {-ms-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF; -ms-transform: rotate(180deg);};
}

/* ************* Fim do avatar ********************* */



/* * Relogio digital * */
#rel {
cursor: default;
display: block;
position: fixed; bottom: 20px; right: 32px;
width: 150px; height: 150px;
margin: -75px 0 0 -75px;
z-index: 1;
border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
border: 1px solid #ee56fc; padding: 5px;

-webkit-animation: Shine 10s infinite linear;
-ms-animation: Shine 10s infinite linear;
-o-animation: Shine 10s infinite linear;
animation: Shine 10s infinite linear;
}

#rel:before {
cursor: default;

width: 150px; height: 150px;
border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
border: 1px solid #ee56fc; padding: 5px;
}

#rel:active {
border: 5px solid #420647; width: 170px; height: 170px; padding: 5px;
}

#hor {cursor: default; -webkit-user-select: none; -moz-user-select: none; color: #fff; font-family: Agency FB, Segoe UI, sans-serif; font-size: 45pt; text-shadow: 0 0 20px #E351FF; background: transparent; width: 50px; z-index: 1;}
#min {cursor: default; -webkit-user-select: none; -moz-user-select: none; color: #fff; font-family: Agency FB, Segoe UI, sans-serif; font-size: 45pt; text-shadow: 0 0 20px #E351FF; background: transparent; width: 50px; border: none; z-index: 1;}
#semana {padding: 7px; border: 1px solid #00E2FF;
cursor: default; -webkit-user-select: none; -moz-user-select: none; color: #fff; font-family: Agency FB, Segoe UI, sans-serif; font-size: 18pt; vertical-align: top; text-shadow: 0 0 10px #E351FF; background: transparent; width: 20px;
z-index: 2;}
#seg, #dia, #mes, #ano {cursor: default; -webkit-user-select: none; -moz-user-select: none; color: #fff; font-family: Agency FB, Segoe UI, sans-serif; font-size: 18pt; vertical-align: top; text-shadow: 0 0 10px #E351FF; background: transparent; width: 20px; border: none; z-index: 2;
-webkit-animation: ShineText 5s infinite linear;
-ms-animation: ShineText 5s infinite linear;
-o-animation: ShineText 5s infinite linear;
animation: ShineText 5s infinite linear;
}
/* ********** Fim do relógio ************** */
}

@keyframes spinoffShine {
0% {box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;}
20% {box-shadow: 0 0 20px #E351FF, inset 0 0 40px #E351FF;}
80% {box-shadow: 0 0 50px #E351FF, inset 0 0 20px #E351FF;}
100% {box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;};
}

@-moz-keyframes spinoffShine {
0% {-moz-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;}
20% {-moz-box-shadow: 0 0 20px #E351FF, inset 0 0 40px #E351FF;}
80% {-moz-box-shadow: 0 0 20px #E351FF, inset 0 0 20px #E351FF;}
100% {-moz-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;};
}

@-webkit-keyframes Shine {
0% {-webkit-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;}
20% {-webkit-box-shadow: 0 0 20px #E351FF, inset 0 0 40px #E351FF;}
80% {-webkit-box-shadow: 0 0 20px #E351FF, inset 0 0 20px #E351FF;}
100% {-webkit-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;};
}

@-ms-keyframes spinoffShine {
0% {-ms-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;}
20% {-ms-box-shadow: 0 0 20px #E351FF, inset 0 0 40px #E351FF;}
80% {-ms-box-shadow: 0 0 20px #E351FF, inset 0 0 20px #E351FF;}
100% {-ms-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;};
}

@-webkit-keyframes ShineText {
0% {text-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;}
20% {text-shadow: 0 0 20px #E351FF, inset 0 0 40px #E351FF;}
80% {text-shadow: 0 0 20px #E351FF, inset 0 0 20px #E351FF;}
100% {text-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;};
}

@media screen and (max-width: 950px) {

/* ********* Avatar *************** */
#miley-avatar {
  z-index: 26;
  position: fixed;
    top: 35px;
    right: 35px;
  background: transparent;
    border-left: 2px solid #FBCEFF;
    border-right: 2px solid #FBCEFF;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    opacity: .9;
  border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 40px;
    height: 40px;
    -webkit-animation: spinoffShine 4s infinite linear;
    -ms-animation: spinoffShine 4s infinite linear;
    -o-animation: spinoffShine 4s infinite linear;
    animation: spinoffShine 4s infinite linear;
}

#miley-avatar:active {
    width: 50px;
    height: 50px;
}

#miley-avatar:before {
  content: "";
  position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    background: transparent;
    opacity: .9;
  border-top: 5px solid #E351FF;
    border-bottom: 5px solid #E351FF;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  -moz-animation: spinPulse 2s infinite ease-in-out;
    -webkit-animation: spinPulse 6s infinite linear;
    -ms-animation: spinPulse 2s infinite linear;
    -o-animation: spinPulse 2s infinite linear;
    animation: spinPulse 2s infinite linear;
}

@keyframes spinPulse {
0% {transform: rotate(90deg); opacity: 0;}
50% {transform: rotate(-180deg); opacity: 1;}
100% {transform: rotate(-90deg); opacity: 0;};
}

@-moz-keyframes spinPulse {
0% {-moz-transform: rotate(90deg); opacity: 0;}
50% {-moz-transform: rotate(-180deg); opacity: 1;}
100% {-moz-transform: rotate(-90deg); opacity: 0;};
}

@-webkit-keyframes spinPulse {
0% {-webkit-transform: rotate(90deg); opacity: 0;}
50% {-webkit-transform: rotate(-180deg); opacity: 1;}
100% {-webkit-transform: rotate(-90deg); opacity: 0;};
}

@-ms-keyframes spinPulse {
0% {-ms-transform: rotate(90deg); opacity: 0;}
50% {-ms-transform: rotate(-180deg); opacity: 1;}
100% {-ms-transform: rotate(-90deg); opacity: 0;};
}

@keyframes spinoffShine {
0% {box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;}
20% {box-shadow: 0 0 20px #E351FF, inset 0 0 40px #E351FF;}
80% {box-shadow: 0 0 50px #E351FF, inset 0 0 20px #E351FF;}
100% {box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;};
}

@-moz-keyframes spinoffShine {
0% {-moz-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;}
20% {-moz-box-shadow: 0 0 20px #E351FF, inset 0 0 40px #E351FF;}
80% {-moz-box-shadow: 0 0 20px #E351FF, inset 0 0 20px #E351FF;}
100% {-moz-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;};
}

@-webkit-keyframes spinoffShine {
0% {-webkit-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF; -webkit-transform: rotate(0deg);}
20% {-webkit-box-shadow: 0 0 20px #E351FF, inset 0 0 40px #E351FF; -webkit-transform: rotate(45deg);}
80% {-webkit-box-shadow: 0 0 20px #E351FF, inset 0 0 20px #E351FF; -webkit-transform: rotate(90deg);}
100% {-webkit-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF; -webkit-transform: rotate(180deg);};
}

@-ms-keyframes spinoffShine {
0% {-ms-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;}
20% {-ms-box-shadow: 0 0 20px #E351FF, inset 0 0 40px #E351FF;}
80% {-ms-box-shadow: 0 0 20px #E351FF, inset 0 0 20px #E351FF;}
100% {-ms-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;};
}
/* ************* Fim do avatar ********************* */

/* * Elementos ocultos nesse tamanho de tela * */
#rel, #rel-decoracao:after, #rel-decoracao:before, #q {
display: none;
}

.falar {
display: inline;
float: right;
 }

#texto {
display: inline;
float: center;
 }

 #b_cc_m {
visibility: hidden;
}

}

@media screen and (max-width: 700px) { /* Tablets */

#b_cc_m {
visibility: hidden;
}

/* * Elementos ocultos nesse tamanho de tela * */
.cc, #rel, #rel-decoracao:after, #rel-decoracao:before, #q {
display: none;
}

}

/* * ***************************************************** * */
@media screen and (max-width: 480px) { /* Smartphones*/

body {
padding-bottom: 150px;
background-color: #000;
}

#config {
opacity: .9;
background: #000;
display: none;
max-width: 90%;
height: auto;
position: absolute;
top: 0px;
left: 0;
padding-top: 50px;
padding-left: 10px;
padding-bottom: 300px;
z-index: 20;
cursor: default;
}

.close {
color: #fff;
border: none;
font-weight: bold;
font-family: Segoe UI;
background: #ff4040;
width: 100px;
height: 40px;
position: absolute;
top: 0;
right: 100px;
outline: none;
border-radius: 0 0 0 10px; -webkit-border-radius: 0 0 0 10px; -moz-border-radius: 0 0 0 10px; -ms-border-radius: 0 0 0 10px;
opacity: 1;
}

#b_cc_m {
visibility: visible;
position: fixed;
top: 40px;
left: 5px;
width: 30px;
height: 20px;
cursor: pointer;
z-index: 6;
}
#b_cc_m:hover {
opacity: .8;
}

.resposta {
font-family: Agency FB, Segoe UI, sans-serif;
font-size: 10px;
text-align: center;
max-width: 80%;
min-height: 90px;
max-height: 90px;
float: left;
}

.pergunta {
font-family: Agency FB, Arial, sans-serif;
font-size: 8px;
float: left;
max-width: 90%;
min-height: 90px;
padding-bottom: 150px;
}

#texto {
font-family: Agency FB, Arial, sans-serif;
font-size: 8pt;
float: none;
max-width: 70%;
display: block;
border-radius: 7px 0 0 7px;
position: fixed;
bottom: 10px;
left: 0;
z-index: 3;
}

.button {
max-width: 80%;
float: left;
margin-left: 0;
position: fixed;
bottom: 0;
right: 10px;
z-index: 3;
}

.falar, #botaoFalar {
position: fixed;
bottom: 10px;
right: 10px;
z-index: 4;
}

#m_fix {
padding: 10px;
position: fixed;
bottom: 0;
left: 0;
max-width: 90%;
min-width: 100%;
height: 55px;
background: #000;
opacity: 0.7;
z-index: 1;
}

.ajuda {
position: absolute;
top: 0;
right: 0;
 }

#miley-avatar {
  z-index: 6;
  position: fixed;
    top: 45px;
    right: 25px;
  background: transparent;
    border-left: 2px solid #FBCEFF;
    border-right: 2px solid #FBCEFF;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    opacity: .9;
  border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 40px;
    height: 40px;
    -webkit-animation: spinoffShine 4s infinite linear;
    -ms-animation: spinoffShine 4s infinite linear;
    -o-animation: spinoffShine 4s infinite linear;
    animation: spinoffShine 4s infinite linear;
}

#miley-avatar:active {
    width: 50px;
    height: 50px;
}

#miley-avatar:before {
  content: "";
  position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    background: transparent;
    opacity: .9;
  border-top: 5px solid #E351FF;
    border-bottom: 5px solid #E351FF;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  -moz-animation: spinPulse 2s infinite ease-in-out;
    -webkit-animation: spinPulse 6s infinite linear;
    -ms-animation: spinPulse 2s infinite linear;
    -o-animation: spinPulse 2s infinite linear;
    animation: spinPulse 2s infinite linear;
}

@keyframes spinPulse {
0% {transform: rotate(90deg); opacity: 0;}
50% {transform: rotate(-180deg); opacity: 1;}
100% {transform: rotate(-90deg); opacity: 0;};
}

@-moz-keyframes spinPulse {
0% {-moz-transform: rotate(90deg); opacity: 0;}
50% {-moz-transform: rotate(-180deg); opacity: 1;}
100% {-moz-transform: rotate(-90deg); opacity: 0;};
}

@-webkit-keyframes spinPulse {
0% {-webkit-transform: rotate(90deg); opacity: 0;}
50% {-webkit-transform: rotate(-180deg); opacity: 1;}
100% {-webkit-transform: rotate(-90deg); opacity: 0;};
}

@-ms-keyframes spinPulse {
0% {-ms-transform: rotate(90deg); opacity: 0;}
50% {-ms-transform: rotate(-180deg); opacity: 1;}
100% {-ms-transform: rotate(-90deg); opacity: 0;};
}

@keyframes spinoffShine {
0% {box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;}
20% {box-shadow: 0 0 20px #E351FF, inset 0 0 40px #E351FF;}
80% {box-shadow: 0 0 50px #E351FF, inset 0 0 20px #E351FF;}
100% {box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;};
}

@-moz-keyframes spinoffShine {
0% {-moz-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;}
20% {-moz-box-shadow: 0 0 20px #E351FF, inset 0 0 40px #E351FF;}
80% {-moz-box-shadow: 0 0 20px #E351FF, inset 0 0 20px #E351FF;}
100% {-moz-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;};
}

@-webkit-keyframes spinoffShine {
0% {-webkit-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF; -webkit-transform: rotate(0deg);}
20% {-webkit-box-shadow: 0 0 20px #E351FF, inset 0 0 40px #E351FF; -webkit-transform: rotate(45deg);}
80% {-webkit-box-shadow: 0 0 20px #E351FF, inset 0 0 20px #E351FF; -webkit-transform: rotate(90deg);}
100% {-webkit-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF; -webkit-transform: rotate(180deg);};
}

@-ms-keyframes spinoffShine {
0% {-ms-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;}
20% {-ms-box-shadow: 0 0 20px #E351FF, inset 0 0 40px #E351FF;}
80% {-ms-box-shadow: 0 0 20px #E351FF, inset 0 0 20px #E351FF;}
100% {-ms-box-shadow: 0 0 75px #E351FF, inset 0 0 5px #E351FF;};
}



/* * Elementos ocultos nesse tamanho de tela * */
.cc, .lado2, #rel, #q, #canvas, #reference, #calcIcone, #def-img-srch {
display: none;
}
}


/*//////////////////////////////////////////////////////////////*/

::-webkit-scrollbar {
width: 0;
height: 0;
}

::-webkit-scrollbar-track {
background: transparent;
}

::-webkit-scrollbar-thumb {
background: transparent;
}

::-webkit-scrollbar-thumb:hover {
background: transparent;
}

/*//////////////////////////////////////////////////////////////*/
.miley {
margin-top: 60px;
width: 450px;
max-width: 90%;
border-right: 1px solid #ee56fc;
}

#canvas {
background: url('../img/39.GIF') transparent no-repeat; background-position: center center;
cursor: default;
width: 100%;
height: 100%;
border: none;
position: absolute;
top: 0%;
left: 0%;
z-index: -10;
}

#canvas:active {
cursor: move;
}

#canvas img {
border: none;
opacity: .8;
z-index: 2
}
#canvas img:hover {
border: 3px solid #E351FF;
opacity: 1;
}

#q {
width: 200px;
color: #fff;
background: #000;
padding: 5px;
border: 3px solid #fff;
border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px;
}
#q:hover {
padding: 5px;
border: 3px solid #E351FF;
}

#img-srch, #def-srch, #def-img-srch-x {z-index: 1; padding: 10px; position: relative; margin-top: 50px; color: #fff; font-family: Agency FB, Arial, sans-serif; font-size: 16pt; background: #8E2498; border: 1px solid #000; transition: .2s ease-out; margin: 3px;}
#img-srch:hover, #def-srch:hover, #def-img-srch-x:hover {color: #fff; background: #ee56fc; border: 1px solid #fff; box-shadow: 0 0 20px #ee56fc;}

#navbar {
z-index: 5;
position: fixed;
top: 0;
left: 0;
background: transparent;
border-top: 4px solid #E351FF;
border-bottom: 1px solid transparent;
height: 40px;
width: 100%;
transition: .2s ease-in-out;
-webkit-transition: .2s ease-in-out;
-moz-transition: .2s ease-in-out;
-ms-transition: .2s ease-in-out;
}
#navbar:hover {
background: #000;
border-top: 4px solid #000;
border-bottom: 1px solid #ee56fc;
height: 50px;
width: 100%;
}

#config {
background: #000;
display: none;
width: 450px;
height: auto;
position: absolute;
top: 0px;
left: 0;
padding-top: 50px;
padding-left: 30px;
padding-bottom: 300px;
z-index: 20;
cursor: default;
border-top: 5px solid #ee56fc;
border-right: 1px solid #ee56fc;
-ms-border-radius: 0px 20px 0 0; -moz-border-radius: 0px 20px 0 0; -webkit-border-radius: 0 20px 0 0; border-radius: 0px 20px 0 0;
}

/* * Botão de opções * */
.options {
position: fixed;
top: 5px;
left: 3px;
cursor: pointer;
width: 35px;
height: 30px;
background: url('../img/op.png') no-repeat;
background-size: 100% 100%;
z-index: 6;
}

.nomeField {
padding: 5px;
border: 3px solid #fff;
border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px;
text-transform: capitalize;
}

.saved-data-config {
color: #EDA3FF;
}

#gen, #miley_idioma, #miley_s_rate, #miley_s_codec, #miley_s_format, #miley_s_key {
font-size: 12pt;
padding: 5px;
padding-bottom: 0;
border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0;
border-bottom: 3px solid #ee56fc;
}

.save, .clear {
color: #fff;
font-weight: bold;
font-family: Agency FB, Segoe UI, sans-serif;
font-size: 14pt;
background: #000;
border: 1px solid #fff;
padding: 10px;
width: 145px;
outline: none;
}
.save:hover {
background: #008b00;
}
.save:active {
color: #000;
background: #fff;
}

.clear:hover {
background: #f00;
}
.clear:active {
color: #000;
background: #fff;
}

.close {
color: #fff;
border: none;
font-weight: bold;
font-family: Segoe UI;
background: #ff4040;
width: 50px;
height: 40px;
position: absolute;
top: 0;
right: 0;
outline: none;
-ms-border-radius: 0px 15px 0 15px; -moz-border-radius: 0px 15px 0 15px; -webkit-border-radius: 0px 15px 0 15px; border-radius: 0px 15px 0 15px;
opacity: 1;
}
.close:hover {
background: #f00;
}
.close:active {
background: #fff;
color: #000;
}

body {
background-image: url('../img/s.png');
background-color: #000;
background-attachment: fixed;
font-family: Agency FB, Arial, sans-serif;
color: #fff;
font-size: 10pt;
max-width: 100%;
width: 450px;
}

a, a:link, a:visited {
color: #EDA3FF;
font-size: 12pt;
font-family: Segoe UI;
cursor: pointer;
transition: 0.2s ease-in-out;
-moz-transition: 0.2s ease-in-out;
-webkit-transition: 0.2s ease-in-out;
}

a:hover {
color: #E351FF;
}

.button { /* O que posso dizer */
padding: 13px;
font-family: Segoe UI Light, Segoe UI;
font-size: 12pt;
width: 100px;
background: #000;
color: #fff;
border: 2px solid #fff;
margin: 10px;
}

.button:hover {
background: #E351FF;
border: 2px solid #E351FF;
}

.button:active {
background: #fff;
border-color: transparent;
color: #000;
}

h2 {
font-family: Segoe UI;
font-weight: lighter;
font-size: 20pt;
padding-bottom: 25px;
border-bottom: 1px solid #fff;
color: #fff;
}

h3 {
font-family: Segoe UI;
font-weight: lighter;
font-size: 16pt;
border-bottom: 1px solid #fff;
color: #fff;
}

.ajuda {
padding: 5px;
font-family: Segoe UI, Arial;
font-size: 10pt;
width: 125px;
background: #000;
color: #fff;
border: none;
margin-left: 50px;
z-index: 6;
}

.ajuda:hover {
background: #E351FF;
}

.ajuda:active {
background: #FFF;
color: #000;
}

.a {
color: #B739D6;
}

.b ul, li {
color: #a4a5b1;
list-style: square;
}

#dialogo {
font-family: Agency FB, Segoe UI, sans-serif;
color: #00FFFF;
text-shadow: 0 0 15px #fff;
font-size: 12pt;

background: transparent;
opacity: 1;

border: 1px solid #ee56fc;
-webkit-border-radius: 0 0 0 15px;

padding: 15px;
width: 330px;
height: 400px;
max-width: 90%;
max-height: 70%;

position: relative;
top: 55px;
right: 10px;

cursor: default;
resize: none;

z-index: 16;
}

.resposta {
width: 100%;
padding: 0px;
text-align: center;
font-family: Agency FB, Segoe UI, sans-serif;
font-weight: lighter;
text-shadow: 0 0 25px #fff;
font-size: 18pt;
background: transparent;
color: #f893ff;
user-select: none; -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; -ms-user-select: none;
cursor: default;
resize: none;
border: none;
margin-top: 10px;
margin-left: 20px;
max-width: 90%;
opacity: 1;
float: left;
}

.pergunta {
font-family: "Segoe UI Light", Segoe UI, sans-serif;
text-align: center;
float: left;
font-size: 12pt;
background: transparent;
color: #A4A5B1;
user-select: none; -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; -ms-user-select: none;
cursor: default;
resize: none;
border: none;
border-top: 1px solid #fff;
width: 100%;
max-width: 90%;
height: 70px;
margin-left: 20px;
opacity: 1;
}

#texto {
font-family: "Segoe UI Light", Segoe UI, sans-serif;
font-weight: lighter;
resize: none;
background: #fff;
border: 1px solid #fff;
border-radius: 7px 0 0 7px; -webkit-border-radius: 7px 0 0 7px; -moz-border-radius: 7px 0 0 7px; -ms-border-radius: 7px 0 0 7px;
width: 100%;
max-width: 80%;
min-width: 50%;
height: 40px;
width: 75%;
padding: 5px;
float: left;
font-size: 12pt;
margin-left: 10px;
opacity: 1;
}

.falar, #botaoFalar {
float: none;
font-family: Calibri;
font-size: 12pt;
height: 52px;
width: 52px;
font-weight: bold;
padding: 10px;
background: #000;
color: #fff;
border: 2px solid #fff;
margin-left: -20px;
}

.falar:hover, #botaoFalar:hover {
background: #E351FF;
border: 2px solid #E351FF;
}

.falar:active, #botaoFalar:active {
background: #fff;
border-color: transparent;
color: #000;
}

#teclado {
width: 80%;
}

/* ***** Titulo das janelas de APPs*********** */
.tit-app-chrome {}
.tit-app-chrome:before {
content: "Chrome mini";
cursor: default;
background: none;
color: #ee56fc;
margin-top: -20px;
margin-left: -20px;
padding: 10px;
width: 100%
}

.tit-app-calc {}
.tit-app-calc:before {
content: "Calculadora";
cursor: default;
background: none;
color: #ee56fc;
margin-top: -20px;
margin-left: -20px;
padding: 10px;
width: 100%
}

* {
margin: 0;
padding: 0;
font-family: Segoe UI, sans-serif;
user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
}

ul {
list-style: none;
}

#context_menu {
color: #000;
border: 2px solid #A020F0;
background: #fff;
width: 200px;
font-size: 12pt;
position: absolute;
display: none;
z-index: 13;
-ms-border-radius: 0px 15px 15px 15px;
-moz-border-radius: 0px 15px 15px 15px;
-webkit-border-radius: 0px 15px 15px 15px;
border-radius: 0px 15px 15px 15px;
}

#context_menu ul li {
padding: 2px 10px;
cursor: default;
transition: .1s ease-in-out;
-moz-transition: .1s ease-in-out;
-webkit-transition: .1s ease-in-out;
-ms-transition: .1s ease-in-out;
-o-transition: .1s ease-in-out;
list-style: none;
}

#context_menu ul li:hover {
background: #A020F0;
color: #FFF;
-ms-border-radius: 0px 15px 15px 15px; -moz-border-radius: 0px 15px 15px 15px; -webkit-border-radius: 0px 15px 15px 15px; border-radius: 0px 15px 15px 15px;
}

.lado2 {
cursor: default;
border-left: 15px solid #E351FF;
background: #000;
width: 550px;
height: 100%;
padding: 15px;
position: fixed;
top: 0;
right: -580px;
transition: .2s ease-in-out; -webkit-transition: .2s ease-in-out; -moz-transition: .2s ease-in-out; -ms-transition: .2s ease-in-out;
z-index: 17;
}

.lado2:hover {
right: 0;
border-left: 1px solid #E351FF;
box-shadow: -20px 0 50px #000;
}

#b_cc {
cursor: pointer;
opacity: .8;
}
#b_cc:hover {
opacity: 1;
}

#botao {
padding: 10px;
}

#botao:hover {
background: #E351FF;
}

#cor-hex {
cursor: pointer;
}

#botaoPcor {
float: none;
font-family: Calibri;
font-size: 12pt;
height: 40px;
width: 40px;
font-weight: bold;
padding: 8px;
background: #000;
color: #fff;
border: 2px solid #fff;
margin-left: -20px;
margin-top: 14px;
}

#botaoPcor:hover {
background: #E351FF;
border: 2px solid #E351FF;
}

#botaoPcor:active {
background: #fff;
border-color: transparent;
color: #000;
}


/* * Versão da I.A. * */
#version {
position: absolute;
bottom: 30px;
right: 20px;
color: #E351FF;
font-size: 11pt;
font-family: Segoe UI Light, Segoe UI;
padding: 15px;
}
#v {
color: #fff;
}

/* * Creative Commons * */
.cc {
background: #000;
border-top: 1px solid #000;
width: 100%;
position: fixed;
bottom: -65px;
padding: 5px;
transition: 0.2s ease-in-out; -webkit-transition: 0.2s ease-in-out; -moz-transition: 0.2s ease-in-out; -ms-transition: 0.2s ease-in-out;
}

.cc:hover {
bottom: 0px;
border-top: 1px solid #ee56fc;
}


/* * Tooltip * */
.tooltip { display:inline;position:relative;}
.tooltip:hover { text-decoration:none;}
.tooltip:hover:after {
background: #fff;
position: absolute; bottom: 18px; left: 5%; padding: 5px 15px; display: block;
color: #000;
content: attr(tooltip);
white-space: nowrap;
z-index: 98;
font-family: sans-serif;
font-size: 11px;}
.tooltip:hover:before {border: solid; border-color: #fff transparent; border-width: 6px 6px 0 6px; bottom: 12px; content: ""; display: block; left: 80%; position: absolute; z-index: 99;}

/* * Serviços * */
#services {
height: 130px;
position: absolute;
bottom: 50px;
left: 20px;
border: 1px solid #ee56fc;
padding: 10px;
}
.voicerss {
display: inline-block;
width: 80px;
height: 55px;
background-image: url('../img/voicerss.png');
background-size: 100% 100%;
transition: .2s ease-in-out;
}
.voicerss:hover {
transform: translatey(-5px);
}

.annyang {
display: inline-block;
width: 80px;
height: 70px;
background-image: url('../img/annyang.png');
background-size: 100% 100%;
transition: .2s ease-in-out;
}
.annyang:hover {
transform: translatey(-5px);
}

.jqueryui {
display: inline-block;
width: 100px;
height: 25px;
background-image: url('../img/jquery-ui.png');
background-size: 100% 100%;
transition: .2s ease-in-out;
}
.jqueryui:hover {
transform: translatey(-5px);
}

/* ***** Calculadora ************ */
#calcIcone {cursor: default; position: absolute; right: 50px; top: 200px; background: url('../img/appbar.calculator.png') #000 no-repeat !important; background-position: center center; background-size: 80% 80%; width: 50px; height: 50px; border: 1px solid #ee56fc; opacity: .8; padding: 20px;
-ms-border-radius: 0px 15px 15px 15px; -moz-border-radius: 0px 15px 15px 15px; -webkit-border-radius: 0px 15px 15px 15px; border-radius: 0px 15px 15px 15px;
}
#calcIcone:before {
content: "Calculadora";
position: absolute;
bottom: 5px;
left: 7px
}
#calcIcone:hover {transition: .2s ease-in-out; background: url('../img/appbar.calculator.png') #ee56fc no-repeat !important; opacity: 1; background-position: center center;
}
#calcIcone:active {background: url('../img/appbar.calculator.png') #ee56fc no-repeat !important; opacity: .8; background-position: center center; background-size: 70% 70%;
}

.calc {border: 1px solid #ee56fc; background: #000; opacity: .8; height: 300px; width: 300px; padding: 20px; position: absolute; top: 80px; right: 300px;
-ms-border-radius: 0px 15px 15px 15px; -moz-border-radius: 0px 15px 15px 15px; -webkit-border-radius: 0px 15px 15px 15px; border-radius: 0px 15px 15px 15px;
}
.num-align {display: inline; float: left}
.num {color: #fff; font-family: Agency FB, Arial, sans-serif; font-size: 16pt; background: #8E2498; width: 50px; height: 30px; border: none; transition: .2s ease-out; margin: 0;}
.num:hover {color: #fff; background: #ee56fc; border: 1px solid #fff; box-shadow: 0 0 20px #ee56fc;}
.num2 {color: #fff; font-family: Agency FB, Arial, sans-serif; font-size: 16pt; background: #2895A3; width: 50px; height: 30px; border: none; transition: .2s ease-out; margin: 0;}
.num2:hover {color: #000; background: #00E2FF; border: 1px solid #fff; box-shadow: 0 0 20px #00E2FF;}
.igual {color: #fff; font-family: Agency FB, Arial, sans-serif; font-size: 16pt; background: #2895A3; width: 150px; height: 30px; margin-bottom: 30px; border: none; transition: .2s ease-out; margin: 0;}
.igual:hover {color: #000; background: #00E2FF; border: 1px solid #fff; box-shadow: 0 0 20px #00E2FF;}
.calc-erase {color: #fff; font-family: Agency FB, Arial, sans-serif; font-size: 16pt; background: #f00; width: 50px; height: 30px; border: none; transition: .2s ease-out; margin: 0;}
.calc-erase:hover {color: #000; background: #00E2FF; border: 1px solid #fff; box-shadow: 0 0 20px #00E2FF;}
#calc-result {color: #00E2FF; text-shadow: 0 0 5px #fff; font-family: Agency FB, Arial, sans-serif; font-size: 26pt; background: #000; border: none; width: 95%; text-align: right;}


/* ***** Navegador ************ */
#mini-browserIcone {cursor: default; position: absolute; right: 150px; top: 200px; background: url('../img/appbar.browser.chrome.png') #000 no-repeat !important; background-position: center center; background-size: 80% 80%; width: 50px; height: 50px; border: 1px solid #ee56fc; opacity: .8; padding: 20px;
-ms-border-radius: 0px 15px 15px 15px; -moz-border-radius: 0px 15px 15px 15px; -webkit-border-radius: 0px 15px 15px 15px; border-radius: 0px 15px 15px 15px;
}
#mini-browserIcone:before {
content: "Chrome mini";
position: absolute;
bottom: 5px;
left: 7px
}
#mini-browserIcone:hover {transition: .2s ease-in-out; background: url('../img/appbar.browser.chrome.png') #ee56fc no-repeat !important; opacity: 1; background-position: center center;
}
#mini-browserIcone:active {background: url('../img/appbar.browser.chrome.png') #ee56fc no-repeat !important; opacity: .8; background-position: center center; background-size: 70% 70%;
}

.mini-browser {border: 1px solid #ee56fc; background: #000; opacity: 1; height: 85%; width: 95%; padding: 10px; position: absolute; top: 50px; left: 0;
-ms-border-radius: 0px 15px 15px 15px; -moz-border-radius: 0px 15px 15px 15px; -webkit-border-radius: 0px 15px 15px 15px; border-radius: 0px 15px 15px 15px;
}
