
/*
MILEY.CSS
Autor: Victor "JV" Ribeiro
Esse arquivo faz parte do projeto Miley.
*/

input[type=text] {
outline: none
}

input:focus {
outline: none;
}

textarea:focus {
outline: none;
}

select:focus {
outline: none;
}

/*///////////////////////////////////////////////////////////*/
@media screen and (min-width: 951px) {
#b_cc_m {
visibility: hidden;
}

#config {
padding-left: 400px;
margin-left: 350px;
}
}

@media screen and (max-width: 950px) {
#content {
width: 100%;
float: center;
margin-top: 60px;
 }

.falar {
display: inline;
float: right;
 }

#texto {
display: inline;
float: center;
 }
 
 #b_cc_m {
visibility: hidden;
}
}

@media screen and (max-width: 700px) { /* Tablets */
#content {
width: 100%;
float: center;
margin-top: 60px;
}

#b_cc_m {
visibility: hidden;
}

.cc {
display: none;
}
}

@media screen and (max-width: 480px) { /* Smartphones*/
#content {
width: 100%;
float: center;
margin-top: 0;
}

#b_cc_m {
visibility: visible;
position: fixed; 
top: 40px; 
left: 5px;
cursor: pointer;
}

.resposta {
font-family: Segoe UI Light, Arial, sans-serif;
font-size: 10px;
float: left;
max-width: 80%;
min-height: 90px;
max-height: 90px;
}

.pergunta {
font-family: Segoe UI Light, Arial, sans-serif;
font-size: 8px;
float: left;
max-width: 90%;
min-height: 90px;
}

#texto {
font-family: Segoe UI Light, Arial, sans-serif;
font-size: 10pt;
float: left;
max-width: 90%;
display: block;
padding-right: 30px;
border-radius: 7px 0 0 7px;
}

.beta, .cc, .lado2 {
display: none;
}

.button {
max-width: 80%;
float: left;
margin-left:
}

.falar {
float: left;
}

#wait {
max-width: 100%;
max-height: 120px;
}

#locked {
padding: 10px;
position: absolute;
top: 368px;
max-width: 90%;
height: 55px;
background: #000;
opacity: 0.9;
z-index: 9;
text-shadow: 0 0 5px #EE56FC;
color: #fff;
text-align: center;
}

.ajuda {
 margin-top: 15px;
}

.close {
position: absolute;
}
}


/*//////////////////////////////////////////////////////////////*/

::-webkit-scrollbar {
width: 1px;
height: 1px;
}
 
::-webkit-scrollbar-track {
background: #111;
}
 
::-webkit-scrollbar-thumb {
background: #242424;
}

::-webkit-scrollbar-thumb:hover {
background: #585858;
}

/*//////////////////////////////////////////////////////////////*/

#config {
background: #000;
display: none;
width: 90%;
height: 100%;
position: absolute;
top: 0;
left: 0;
padding: 25px;
z-index: 10;
cursor: default;
}

.nomeField {
padding: 5px;
border: 3px solid #fff;
border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px;
}
.nomeField:hover {
padding: 5px;
border: 3px solid #EDA3FF;
}

.save, .clear {
color: #fff;
font-weight: bold;
font-family: Segoe UI;
background: #000;
border: 1px solid #fff;
padding: 10px;
width: 145px;
outline: none;
}
.save:hover {
background: #008b00;
}
.save:active {
color: #000;
background: #fff;
}

.clear:hover {
background: #f00;
}
.clear:active {
color: #000;
background: #fff;
}

.close {
color: #fff;
border: none;
font-weight: bold;
font-family: Segoe UI;
background: #ff4040;
padding: 10px;
width: 50px;
position: fixed;
top: 0;
right: 20px;
outline: none;
}
.close:hover {
background: #f00;
}
.close:active {
background: #fff;
color: #000;
}

body {
background: #000;
font-family: Segoe UI Light, Arial, sans-serif;
color: #fff;
font-size: 10pt;
max-width: 100%;
min-width: 100%;
}

a:link {
color: #EDA3FF;
font-size: 12pt;
font-family: Segoe UI;
cursor: pointer;
transition: 0.2s ease-in-out;
-moz-transition: 0.2s ease-in-out;
-webkit-transition: 0.2s ease-in-out;
}

a:hover {
color: #B739D6;
}

.button { /* O que posso dizer */
padding: 13px;
display: inline-block;
font-family: Segoe UI Light, Segoe UI;
font-size: 12pt;
width: 100px;
background: #000;
color: #fff;
border: 2px solid #fff;
margin: 10px;
}

.button:hover {
background: #B739D6;
border: 2px solid #B739D6;
}

.button:active {
background: #fff;
color: #000;
}

h2 {
font-family: Segoe UI Light, Segoe UI, sans-serif;
font-size: 25pt;
padding-bottom: 25px;
border-bottom: 1px solid #fff;
}

.ajuda {
padding: 5px;
display: inline;
font-family: Segoe UI, Arial;
font-size: 10pt;
width: 125px;
background: #000;
color: #fff;
border: none;
align: right;
}

.ajuda:hover {
background: #B739D6;
}

.ajuda:active {
background: #FFF;
color: #000;
}

#botaoFalar {
display: inline-block;
padding: 5px;
}

#content {
margin-top: 0;
}

textarea {
border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px;
border-top: none;
border-right: none;
border-left: none;
border-bottom: 1px solid #fff;
margin-left: 20px;
width: 90%;
background: #fff;
color: #000;
font-family: Segoe UI Light, Segoe UI;
font-size: 14pt;
resize: none;
}

.resposta {
padding: 15px;
text-align: center;
font-family: Segoe UI Light, Segoe UI;
font-size: 18pt;
background: transparent;
color: #A114C4;
user-select: none; -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; -ms-user-select: none;
cursor: default;
resize: none;
border-bottom: none;
margin-top: 10px;
}

.pergunta {
font-family: Segoe UI Light, Segoe UI;
font-size: 12pt;
background-color: #000;
color: #A4A5B1;
user-select: none; -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; -ms-user-select: none;
cursor: default;
resize: none;
border-top: 1px solid #fff; border-right: none; border-left: none; border-bottom: none;
width: 100%;
}

.resposta_ajuda {
padding: 15px;
text-align: left;
font-family: Segoe UI Light, Segoe UI;
font-size: 16pt;
background: transparent;
color: #EDA3FF;
-webkit-user-select: none; -moz-user-select: none; -o-user-select: none; -ms-user-select: none; cursor: default;
border-bottom: none;
}
.pergunta_ajuda {
font-family: Segoe UI Light, Segoe UI;
font-size: 14pt;
background: #000;
color: #A4A5B1;
-webkit-user-select: none; -moz-user-select: none; -o-user-select: none; -ms-user-select: none; cursor: default;
border-top: 1px solid #fff;
border-right: none;
border-left: none;
border-bottom: none;
width: 90%;
text-align: left;
}

.a {
color: #eda3ff;
}

.b ul, li {
color: #a4a5b1;
list-style: square;
}

.falar {
font-family: Calibri;
height: 52px;
width: 52px;
margin-top: 0px;
margin-left: 0px;
font-weight: bold;
float: left;
padding: 10px;
}

#texto {
border: 1px solid #fff;
border-radius: 7px 0 0 7px; -webkit-border-radius: 7px 0 0 7px; -moz-border-radius: 7px 0 0 7px; -ms-border-radius: 7px 0 0 7px;
max-width: 90%;
height: 40px;
width: 50%;
padding: 5px;
float: left;
}

td {
font-family: Segoe UI, Arial;
font-size: 10pt;
}

* {
margin: 0;
padding: 0;
font-family: Segoe UI, sans-serif;
user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
}

ul {
list-style: none;
}

#context_menu {
color: #000;
border: 2px solid #A020F0;
background: #fff;
width: 200px;
font-size: 12pt;
position: absolute;
display: none;
z-index: 13;
-ms-border-radius: 0px 15px 15px 15px;
-moz-border-radius: 0px 15px 15px 15px;
-webkit-border-radius: 0px 15px 15px 15px;
border-radius: 0px 15px 15px 15px;
}

#context_menu ul li {
padding: 2px 10px;
cursor: default;
transition: .1s ease-in-out;
-moz-transition: .1s ease-in-out;
-webkit-transition: .1s ease-in-out;
-ms-transition: .1s ease-in-out;
-o-transition: .1s ease-in-out;
list-style: none;
}

#context_menu ul li:hover {
background: #A020F0;
color: #FFF;
-ms-border-radius: 0px 15px 15px 15px; -moz-border-radius: 0px 15px 15px 15px; -webkit-border-radius: 0px 15px 15px 15px; border-radius: 0px 15px 15px 15px;
}

.lado2 {
border-left: 15px solid #A020F0;
background: #000;
width: 150px;
height: 100%;
padding: 15px;
position: fixed;
top: 0;
right: -180px;
transition: .2s ease-in-out; -webkit-transition: .2s ease-in-out; -moz-transition: .2s ease-in-out; -ms-transition: .2s ease-in-out;
z-index: 10;
}

.lado2:hover {
right: 0;
border-left: 15px solid #B464E6;
}

#botao {
padding: 10px;
}

#botao:hover {
background: #67A3B;
}

/* ********* Avatar *************** */
.Ex {
    background: #000;
    border: 5px solid #EE56FC;
    opacity: .9;
  border-right: 5px solid #000;
    border-left: 5px solid #000;
  border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  width: 100px;
    height: 100px;
    margin: 0 auto;
  -moz-animation: spinPulse 2s infinite ease-in-out;
    -webkit-animation: spinPulse 2s infinite linear;
    -ms-animation: spinPulse 2s infinite linear;
    -o-animation: spinPulse 2s infinite linear;
    animation: spinPulse 2s infinite linear;
}

.In {
    background: #000;
    border: 5px solid #fff;
    opacity: .9;
  border-left: 5px solid #EE56FC;
    border-right: 5px solid #EE56FC;
  border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  box-shadow: 0 0 75px #EE56FC, inset 0 0 35px #EE56FC;
    width: 70px;
    height: 70px;
    margin-top: -95px;
    position: relative;
  -moz-animation: spinoffPulse .02s infinite linear;
    -webkit-animation: spinoffPulse .02s infinite linear;
    -ms-animation: spinoffPulse .02s infinite linear;
    -o-animation: spinoffPulse .02s infinite linear;
    animation: spinoffPulse .02s infinite linear;
}

@-moz-keyframes spinPulse {
0% {-moz-transform: rotate(160deg); opacity: 0; box-shadow: 0 0 1px #2187e7;}
50% {-moz-transform: rotate(145deg); opacity: 1;}
100% {-moz-transform: rotate(-320deg); opacity: 0;};
}

@-moz-keyframes spinoffPulse {
0% {-moz-transform: rotate(0deg);}
100% {-moz-transform: rotate(360deg);};
}

@-webkit-keyframes spinPulse {
0% {-webkit-transform: rotate(160deg); opacity: 0; box-shadow: 0 0 1px #2187e7;}
50% {-webkit-transform: rotate(145deg); opacity: 1;}
100% {-webkit-transform: rotate(-320deg); opacity: 0;};
}

@-webkit-keyframes spinoffPulse {
0% {-webkit-transform: rotate(0deg);}
100% {-webkit-transform: rotate(360deg);};
}

@-ms-keyframes spinPulse {
0% {-ms-transform: rotate(160deg); opacity: 0; box-shadow: 0 0 1px #2187e7;}
50% {-ms-transform: rotate(145deg); opacity: 1;}
100% {-ms-transform: rotate(-320deg); opacity: 0;};
}

@-ms-keyframes spinoffPulse {
0% {-ms-transform: rotate(0deg);}
100% {-ms-transform: rotate(360deg);};
}

@keyframes spinPulse {
0% {transform: rotate(160deg); opacity: 0; box-shadow: 0 0 1px #2187e7;}
50% {transform: rotate(145deg); opacity: 1;}
100% {transform: rotate(-320deg); opacity: 0;};
}

@keyframes spinoffPulse {
0% {transform: rotate(0deg);}
100% {transform: rotate(360deg);};
}
/* ************* Fim do avatar ********************* */

/* ************* O preloader *********************** */

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999999999999999999999998;
  overflow: hidden;
} 

#loadCap { 
  display: block;
  position: relative;
  top: 20px;
  text-align: center;
  z-index: 12;
  color: #fff;
  font-family: Segoe UI Light, Segoe UI;
} 

#loader { 
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #EE56FC;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -ms-animation: spin 1s linear infinite;
  z-index: 999999999999999999999999999999;
}
  #loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #EE56FC;
    animation: spin-reverse 2s linear infinite;
    -webkit-animation: spin-reverse 2s linear infinite;
    -moz-animation: spin-reverse 2s linear infinite;
    -ms-animation: spin-reverse 2s linear infinite;
  }
  
  #loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 0 75px #EE56FC, inset 0 0 35px #EE56FC;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
  }

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% { 
        -webkit-transform: rotate(360deg); 
        -moz-transform: rotate(360deg); 
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin-reverse {
    0%   {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% { 
        -webkit-transform: rotate(360deg); 
        -moz-transform: rotate(360deg); 
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% { 
        -webkit-transform: rotate(360deg); 
        -moz-transform: rotate(360deg); 
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin-reverse {
    0%   {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% { 
        -webkit-transform: rotate(360deg); 
        -moz-transform: rotate(360deg); 
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #0E0E0E;
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Estilos ao carregar */

.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -moz-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -ms-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -moz-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -ms-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
  -webkit-transition: all 0.3s 1s ease-out;
  -moz-transition: all 0.3s 1s ease-out;
  -ms-transition: all 0.3s 1s ease-out;
}
/* ************ Fim do preloader ************ */

.version {
position: relative;
color: #EE56FC;
font-size: 11pt;
font-family: Segoe UI Light, Segoe UI;
padding: 15px;
}

#wait {
display: none;
position: absolute;
margin-top: 10px;
width: 500px;
height: 225px;
background: #000;
}

#locked {
position: absolute;
margin-top: 0px;
width: 530px;
height: 55px;
background: #000;
opacity: 0.9;
z-index: 9;
transition: 1s ease-in-out; -webkit-transition: 1s ease-in-out; -moz-transition: 1s ease-in-out; -ms-transition: 1s ease-in-out;
text-shadow: 0 0 10px #EE56FC;
color: fff;
font-size: 11pt;
text-align: center;
font-family: Segoe UI Light, Arial, sans-serif;
}

#miley_idioma {
width: 200px; 
background: #000; 
color: #fff; 
position: relative;
font-family: Segoe UI Light, Arial, sans-serif;
font-size: 11pt;
padding: 5px;
border: none;
-ms-border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;
}

.cc {
position: fixed;
bottom: -60px;
left: 15px;
padding-bottom: 5px;
transition: 0.2s ease-in-out; -webkit-transition: 0.2s ease-in-out; -moz-transition: 0.2s ease-in-out; -ms-transition: 0.2s ease-in-out;
}

.cc:hover {
bottom: 0px;
}

#nomeAtual {
display: inline-block;
text-shadow: 0 0 20px #EE56FC;
box-shadow: 0 0 20px #EE56FC, inset 0 0 20px #EE56FC;
-ms-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
font-size: 25pt;
font-family: Segoe UI Light, Segoe UI, sans-serif;
-webkit-animation: nomeAtual 2s linear infinite;
}

@-webkit-keyframes nomeAtual {
0% {box-shadow: 0 0 20px #EE56FC, inset 0 0 20px #EE56FC;
}
50% {box-shadow: 0 0 70px #EE56FC, inset 0 0 30px #EE56FC;
}
80% {box-shadow: 0 0 50px #EE56FC, inset 0 0 30px #EE56FC;
}
100% {box-shadow: 0 0 20px #EE56FC, inset 0 0 20px #EE56FC;
}
}

@-moz-keyframes no
